# Server Config
PORT = #Port on which server needs to run

# IoT & DPS Config
PROVISIONING_HOST = # DPS Service Endpoint
PROVISIONING_IDSCOPE = # DPS IDScope
PROVISIONING_GROUP_SYMMETRIC_KEY =  # DPS Group Enrollment Primary Symmetric Key